name: Deploy to Local K8s

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Update Kubernetes
      run: |
        # สั่งให้ K8s อัปเดตไฟล์คอนฟิก
        kubectl apply -f deployment-v2.yaml
        # สั่ง restart เพื่อให้ดึง Image ล่าสุดมาใช้ (ชื่อต้องตรงกับในไฟล์ deployment-v2.yaml)
        kubectl rollout restart deployment/bio-web-deployment
        
    - name: Verify
      run: kubectl get pods